@font-face {
    font-family: 'DS-DIGIB';
    src: url('../font/DS-DIGIB.TTF');
}
body {
    margin: 0px;
    padding: 0px;
    background-color: #151515;
    color: #fff;
}
header .logo img {
    display: block;
    width: 50%;
    max-width: 1200px;
    margin: 24px auto;
}
.diffContainer img {border: 1px solid #333;}
#statsBar {
    width: 100%;
    height: 46px;
    margin: 20px auto;
    opacity: 0;
    transition: opacity 0.5s;
}
#statsBar.gameIsOn {
    opacity: 1;
}
#statsBar > div {
    width: 20%;
    float: left;
    text-align: center;
}
#statsBar > div img {
    width: 36px;
    float: left;
}
.diffDiv {
    margin: 0;
    display: inline-block;
    position: relative;
}
.container {
    margin: auto;
    max-width: 1400px;
    text-align: center;
}
.hide {display: none;}
.diff {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(192, 64, 0, 0.5);
}
.overlay.hidden {
  opacity: 0;
  z-index: -1;
}
.overlay {
  opacity: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);
  transition: opacity 400ms;
  z-index: 999;
}
/* .diff.no1 { */
    /* left: 332px; */
    /* top: 391px; */
    /* -webkit-clip-path: polygon(13% 3%, 93% 36%, 92% 89%, 11% 30%); */
    /* clip-path: polygon(13% 3%, 93% 36%, 92% 89%, 11% 30%); */
    /* width: 65px; */
    /* height: 36px; */
/* } */
/* .diff.no2 { */
    /* left: 473px; */
    /* top: 174px; */
/* } */
/* .diff.no3 { */
    /* left: 49px; */
    /* top: 371px; */
/* } */
.mirror {
    width: 30px;
    height: 30px;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.mirror > span {position: absolute; border: 1px solid red;}
.mirror > span:nth-child(odd) {width: 6px;}
.mirror > span:nth-child(even) {height: 6px;}
.mirror > span:nth-of-type(1) {transform: translate(-250%, 700%)}
.mirror > span:nth-of-type(2) {transform: translate(-50%, 330%)}
.mirror > span:nth-of-type(3) {transform: translate(150%, 700%);}
.mirror > span:nth-of-type(4) {transform: translate(-50%, -60%)}
.gratz {
    width: 400px;
    text-align: center;
    background-color: #11609c;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    margin: auto;
}
.gratz p {margin: 0;}
.close {
    width: 30px;
    margin: auto;
    padding: 4px;
    background-color: #fff;
    color: #11609c;
    border-radius: 4px;
    margin-top: 6px;    
    cursor: pointer;
}
#timer {
    font-family: 'DS-DIGIB';
    font-size: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 6px;
    color: #CD2626;
    height: 40px;
    line-height: 40px;
}

.btn {
    border: none;
    font-family: monospace;
    font-size: large;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 16px 48px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-2g {
    border-radius: 40px;
}
.btn-2 {
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    color: #fff;
    box-shadow: 0 6px #1e5799;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.btn-2g:hover {
    box-shadow: 0 4px #1e5799;
    top: 2px;
}
.btn-2g:active {
    box-shadow: 0 0 #1e5799;
    top: 6px;
}
.btnContainer {margin: auto; width: 254px;}

#statsBar > div > span {
    display: inline-block;
}
.round-board {
    width: 260px;
    height: 260px;
    position: relative;
    color: #333;
    background-color: #fff;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px;
    border-radius: 8px;
}
.timespan, .lifespan, .scorespan {
    float: right;
}
.timespan {color: green;}
.lifespan {color: red;}
.scorespan {color:blue;}
#lives-count:before {content: 'x'; margin-right: 6px;}
#lives-count {transition: all 0.5s;}
#lives-count.life-lost {transform: scale(2);}
button.next-round {
    width: 100px;
    position: absolute;
    left: calc(50% - 50px);
    bottom: 40px;
    padding: 6px;
    border-radius: 6px;
    border: 0;
    background-color: #11609c;
    color: #fff;
    box-shadow: 1px 1px 20px #888;
    font-family: cursive;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 1s;
    opacity: 1;
}
button.next-round.fade {
    opacity: 0;
}
/* Detonate Effect */
body.detonate {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: jello 1.5s 1;
}
@keyframes jello {
  from, 11.1%, to {    transform: none;  }  
    22.2% {    transform: skewX(-12.5deg) skewY(-12.5deg);  }  33.3% {    transform: skewX(6.25deg) skewY(6.25deg);  }
    44.4% {    transform: skewX(-3.125deg) skewY(-3.125deg);  }
    55.5% {    transform: skewX(1.5625deg) skewY(1.5625deg);  }
    66.6% {    transform: skewX(-0.78125deg) skewY(-0.78125deg);  }
    77.7% {    transform: skewX(0.390625deg) skewY(0.390625deg);  }
    88.8% {    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);  }
}

/* Extra time Effect */
#extra-time {
    font-family: 'DS-DIGIB';
    font-size: 20px;
    display: inline-block;
    transition: opacity 0.4s;
    opacity: 0;
}
#extra-time.zoomOutUp {
  animation: zoomOutUp 1.6s 1 1s;
  opacity: 1;
}
@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  to {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

/* Balloon.css tooltip */

button[data-balloon] {
    overflow: visible;
}
[data-balloon] {
    position: relative;
}
[data-balloon]:after, [data-balloon]:before {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all .18s ease-out .18s;
    transition: all .18s ease-out .18s;
    bottom: 100%;
    left: 50%;
    position: absolute;
    z-index: 10;
    -webkit-transform: translate(-50%,10px);
    -ms-transform: translate(-50%,10px);
    transform: translate(-50%,10px);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
}
[data-balloon]:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNnB4IiBoZWlnaHQ9IjEycHgiPjxwYXRoIGZpbGw9InJnYmEoMjE3LCAyMTcsIDIxNywgMC45KSIgdHJhbnNmb3JtPSJyb3RhdGUoMCkiIGQ9Ik0yLjY1OCwwLjAwMCBDLTEzLjYxNSwwLjAwMCA1MC45MzgsMC4wMDAgMzQuNjYyLDAuMDAwIEMyOC42NjIsMC4wMDAgMjMuMDM1LDEyLjAwMiAxOC42NjAsMTIuMDAyIEMxNC4yODUsMTIuMDAyIDguNTk0LDAuMDAwIDIuNjU4LDAuMDAwIFoiLz48L3N2Zz4=);    background-size: 100% auto;
    /* background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNnB4IiBoZWlnaHQ9IjEycHgiPjxwYXRoIGZpbGw9InJnYmEoMTcsIDE3LCAxNywgMC45KSIgdHJhbnNmb3JtPSJyb3RhdGUoMCkiIGQ9Ik0yLjY1OCwwLjAwMCBDLTEzLjYxNSwwLjAwMCA1MC45MzgsMC4wMDAgMzQuNjYyLDAuMDAwIEMyOC42NjIsMC4wMDAgMjMuMDM1LDEyLjAwMiAxOC42NjAsMTIuMDAyIEMxNC4yODUsMTIuMDAyIDguNTk0LDAuMDAwIDIuNjU4LDAuMDAwIFoiLz48L3N2Zz4=);    background-size: 100% auto; */
    height: 6px;
    width: 18px;
    content: "";
    margin-bottom: 5px;
}
[data-balloon]:after {
    background: rgba(217,217,217,.9);
    border-radius: 4px;
    color: #333;
    content: attr(data-balloon);
    font-size: 12px;
    padding: .5em 1em;
    white-space: nowrap;
    margin-bottom: 11px;
}
[data-balloon]:hover:after, [data-balloon]:hover:before, [data-balloon][data-balloon-visible]:after, [data-balloon][data-balloon-visible]:before {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
}

/* Used helpers styling */
.icon-bomb.used:before, .icon-hourglass.used:before, .icon-target.used:before {
    opacity: 0.2;
}


/* MEDIA QUERIES */ 
@media screen and (max-width: 993px) {

    [class^="icon-"]:before, [class*=" icon-"]:before {
        width: 32px;
        line-height: 32px;
        font-size: 20px;
    }

}