@font-face {
    font-family: 'DS-DIGIB';
    src: url('DS-DIGIB.TTF');
}
body {
    margin: 0px;
    padding: 0px;
    <!-- background-color: #55a0cb; -->
}
header .logo img {
    display: block;
    width: 90%;
    max-width: 1200px;
    margin: 24px auto;
}
.diffContainer img {border: 1px solid #333;}
.statsBar {
    width: 100%;
    height: 46px;
    margin: 20px auto;
}
.statsBar > div {
    width: 20%;
    float: left;
}
.time-icon img, .lives-icon img, .score-icon img, .highscore-icon img, .detonate-icon img, .potion-icon img {
    width: 36px;
    float: left;
}
.diffDiv {
    margin: 0;
    display: inline-block;
    position: relative;
}
.container {
    margin: auto;
    max-width: 1400px;
    text-align: center;
}
.hide {display: none;}
.diff {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(192, 64, 0, 0.5);
}
.overlay.hidden {
  opacity: 0;
  z-index: -1;
}
.overlay {
  opacity: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);
  transition: opacity 400ms;
  z-index: 999;
}
/* .diff.no1 { */
    /* left: 332px; */
    /* top: 391px; */
    /* -webkit-clip-path: polygon(13% 3%, 93% 36%, 92% 89%, 11% 30%); */
    /* clip-path: polygon(13% 3%, 93% 36%, 92% 89%, 11% 30%); */
    /* width: 65px; */
    /* height: 36px; */
/* } */
/* .diff.no2 { */
    /* left: 473px; */
    /* top: 174px; */
/* } */
/* .diff.no3 { */
    /* left: 49px; */
    /* top: 371px; */
/* } */
.mirror {
    width: 30px;
    height: 30px;
    border: 2px solid red;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.mirror > span {position: absolute; border: 1px solid red;}
.mirror > span:nth-child(odd) {width: 6px;}
.mirror > span:nth-child(even) {height: 6px;}
.mirror > span:nth-of-type(1) {transform: translate(-250%, 700%)}
.mirror > span:nth-of-type(2) {transform: translate(-50%, 330%)}
.mirror > span:nth-of-type(3) {transform: translate(150%, 700%);}
.mirror > span:nth-of-type(4) {transform: translate(-50%, -60%)}
.gratz {
    width: 400px;
    text-align: center;
    background-color: #11609c;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    margin: auto;
}
.gratz p {margin: 0;}
.close {
    width: 30px;
    margin: auto;
    padding: 4px;
    background-color: #fff;
    color: #11609c;
    border-radius: 4px;
    margin-top: 6px;    
    cursor: pointer;
}
#timer, #score-count, #high-score {
    font-family: 'DS-DIGIB';
    font-size: 32px;
    text-align: center;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 6px;
    color: #CD2626;
    width: 54px;
    height: 32px;
    line-height: 32px;
}

.btn {
    border: none;
    font-family: monospace;
    font-size: large;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 16px 48px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-2g {
    border-radius: 40px;
}
.btn-2 {
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    color: #fff;
    box-shadow: 0 6px #1e5799;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.btn-2g:hover {
    box-shadow: 0 4px #1e5799;
    top: 2px;
}
.btn-2g:active {
    box-shadow: 0 0 #1e5799;
    top: 6px;
}
.btnContainer {margin: auto; width: 254px;}